body{
	background :url('../img/pattern.jpg');
	margin:0px;
}
header{
	background-color: #fff;
    width: 100%;
    height: 65px;
    margin: 0px;
    padding: 0px;
}

#logo{
	width: 65px;
	float: left;
}

nav ul {
    list-style: none;

}
nav ul li {
    float: right;
    line-height: 65px;
    margin-left: 25px;
    margin-right: 25px;
}


nav ul li a {
    float:left; 
    width:150px; 
    display:block; 
    text-align:center; 
	color: #000;
    text-decoration:none; 
}


footer{
	background-color: #000;
	margin:0px;
	padding: 5px;
	color: #fff;
	text-align: center;
}


section{
	background-color: #fff;
	width: 65%;
	margin-left:15%;		
}

h1{
	font-size: 25px;
	text-align: center;
	padding: 25px;
}

#article-list{
	margin-bottom: 15px;
	padding-bottom: 9px;
}

article{
	margin-left: 21px;
	margin-bottom: 25px;
	border: 3px;
  	border-bottom-style: solid;
  	width: 95%;    	
}


article h3{
	font-size: 19px;
}
